.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsla(0,0%,100%,.3);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  
}

.navbar.hide {
  transform: translateY(-100%);
}

.navbar img {
  max-width: 100%;
  height: auto;
}

.links a {
  text-decoration: none;
  color: #333;
}

.links a:hover {
  color: #007bff; /* Change this to your desired hover color */
}
